.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-none {
	float: none;
}

.clearfix {
	@include clearfix();
}

.responsive-img {
    @include responsive-img();
}

.mobile-hide {

    @include breakpoint(sm) {
        display: none !important;
    }

}

.mobile-show {

    display: none;

    @include breakpoint(sm) {
        display: block;
    }

}
