.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-none {
	float: none;
}

.clearfix {
	@include clearfix();
}

.responsive-img {
    @include responsive-img();
}

.mobile-hide {

    display: block;

    @include breakpoint(xs) {
        display: none !important;
    }

}

.mobile-show {

    display: none;

    @include breakpoint(xs) {
        display: block;
    }

}

.page-wrapper {
	overflow-x: hidden;
	width: 100%;
}