// Font
$font-family: 'Open Sans', sans-serif;
$font-size: 16px;
$font-weight-thin: 100;
$font-weight-extrathin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;
$line-height: 1.4;

// Colors
$color-background: #fff;
$color-primary: #29b9e3;
$color-text: #555;
$color-link-default: #29b9e3;
$color-link-hover: #df4a1c;
$color-hr: #ccc;
$color-heading: #333;
$color-line: #ccc;
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-pinterest: #bd081c;
$color-linkedin: #0077b5;
$color-googleplus: #dd4b39;
$color-instagram: #833ab4;

// Margins
$margin: 20px;
$padding: 20px;

// Margin & padding loop
$values: 5 10 20 30 40;
$positions: top right bottom left;

// Image path
$image-path: '../images/';

// Retina image suffix
$image-suffix: '-2x';

// Font path
$font-path: '../fonts';

// Grid
$grid-columns: 12;
$grid-column-gutter: 30px;

// break points
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
